.country{
    border: 2px solid salmon;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}
.country-visited{
    background-color: aquamarine;
}